asgiref==3.8.1
attrs==25.3.0
beautifulsoup4==4.13.4
certifi==2025.1.31
channels==4.2.2
channels_redis==4.2.1
Django==5.1.7
django-cors-headers==4.7.0
djangorestframework==3.16.0
daphne==4.1.2
dj-database-url==3.0.0
gunicorn==23.0.0
numpy==2.3.1
pandas==2.3.0
Pillow>=11.1.0
psycopg2-binary==2.9.10
requests==2.32.3
redis==5.2.1
whitenoise==6.9.0
pywebpush 
cryptography